{% extends 'user/layouts/base.html' %}

{% block title %}Weather Map - ClimaChat{% endblock %}

{% block page_title %}Weather Map{% endblock %}
{% block page_subtitle %}Interactive weather visualization{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="space-y-6">
    {% include 'user/components/map/weather_controls.html' %}
    {% include 'user/components/map/map_container.html' %}
   
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
// Set API key from Django settings before loading weather_map.js
window.OPENWEATHER_API_KEY_FROM_ENV = "{{ OPENWEATHER_API_KEY }}";
</script>
<script src="{% load static %}{% static 'js/weather_map.js' %}"></script>
{% endblock %}